body {
    background-color: #212b2d;
}
.t1{
  position: absolute;
  top: 10%;
  left: 30%;
  color: aliceblue;
}
.t2{
  position: absolute;
  top: 20%;
  left: 30%;
  color: aliceblue;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color:#333d3f;
  width: 1100px;
  margin-left: 367px;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
  gap: 50px;
  justify-content: center;
}
.navbar > div > a {
  color: white;
  text-decoration: none; 
  font-size: 15px;
}
span {
  margin-left: 15px;
  font-size:20px;
  color: white;
}
img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box1{
  display: flex;
  flex-direction: column;
}
.box2{
  display: grid;
}
.containar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.b3{
  grid-column: 1 / span 3;
  grid-row: 1;
}
.hr {
  margin-left: -1px;
  width: 765px;
}

.b1> ul > li {
  padding: 3px;
  color: white;
}
.b1, .b1 > ul > li > a { 
  color: white;
}
.b2, .b3, .b4, .b5 {
  color: white;
}
.b4, .b5 {
  width: 300px;
  margin-top: -25px;
}
.b5{
  margin-left: 50px;
}
.vl {
  border-left: 3px solid white;
  height: 235px;
  margin-left: 75px;
}
.button {
  width: 100px;
  height: 50px;
  background-color: #98a8ad;
  cursor: pointer;
}
.hr2 {
  width: 1100px;
}
footer {
  text-align: center;
  color: white;
}
a{
    color: blanchedalmond;
}

#main-form {
    background: rgb(250, 250, 250);
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.input-field {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}


#submit {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}

#submit:hover {
    cursor: pointer;
    background-color: #212b2d;
}


.radio {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}
.userRatings[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
